@page
@model app.Pages.Admin.Properties.IndexModel
@{
}

<h2 class="text-center mb-5">List of Properties</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Admin/Properties/Create">New RealState</a>
    </div>
    <div class="col">

    </div>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Neighborhood</th>
        <th>Bedroom Quantity</th>
        <th>Business Type</th>
        <th>Address</th>
        <th>Images</th>
        <th>Edit</th>
    </tr>

    @foreach(var realState in Model.Properties)
    {
        <tr>
            <td>@realState.Id</td>
            <td>@realState.Title</td>
            <td>R$@(string.Format("{0:N2}", realState.Price))</td>
            <td>@realState.Neighborhood</td>
            <td>@realState.BedroomQuantity</td>
            <td>@realState.BusinessType</td>
            <td>@realState.Address</td>
            <td>
                @foreach(var image in realState.RealStateImages)
                {
                    <img src="~/photos/@image.ImageFileName" alt="Real Estate Image" width="300">
                }
            </td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Admin/Properties/Edit?id=@realState.Id">Edit</a>
            </td>
        </tr>
    }
</table>